<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Students Table</title>
</head>

<body>
    <h1>Список студентов</h1>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>Имя</td>
                <td>Балл</td>
                <td>Факультет</td>
                <td>Операции</td>
            </tr>
        </thead>
<!--        @thymesVar id="students" th:type="java.util.List<com.geekbrains.spring_mvc.model.Student>"-->
        <tbody>
            <tr th:each="s : ${students}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.name}"></td>
                <td th:text="${s.score}"></td>
                <td th:text="${s.department}"></td>
                <td><a th:href="@{'/students/profile/' + ${s.id}}">профиль студента</a></td>
            </tr>
        </tbody>
    </table>
<!--    @ - это contextPath(корень нашего приложения)-->
    <a th:href="@{/}">На главную страницу</a>
</body>
</html>