<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>

<h1>Профиль студента</h1>
<div th:action="@{/students/edit}" th:object="${student}" method="GET">

    <div style="display: flex; margin-left: 50px">
        <h3>id: </h3>
        <h3 th:text="*{id}"></h3>
    </div>

    <div style="display: flex; margin-left: 50px">
        <h3>Имя: </h3>
        <h3 th:text="*{name}"></h3>
    </div>

    <div style="display: flex; margin-left: 50px">
        <h3>Баллы: </h3>
        <h3 th:text="*{score}"></h3>
    </div>

    <div style="display: flex; margin-left: 50px">
        <h3>Факультет: </h3>
        <h3 th:text="*{department}"></h3>
    </div>
</div>
<br>
<a th:href="@{/}">на Главную страницу</a>
<br>
<a th:href="@{/students}">Список студентов</a>
</body>
</html>